.idea
.idea/workspace.xml
.idea/misc.xml
.idea/pesti-beach16.iml
.idea/*

master/maps/static/burnt
master/maps/sampling
master/maps/lisem/1
master/maps/lisem/2
master/maps/lisem/3
master/maps/lisem/4
master/maps/lisem/5
master/maps/lisem/6
master/maps/lisem/7
master/maps/lisem/8
master/maps/lisem/9
master/maps/lisem/10

master/res/0
master/res/1
master/res/2
master/res/3
master/res/4
master/res/5
master/res/6
master/res/7
master/res/8
master/res/9
master/res/10

master/visuals/*
master/visuals_opL/*

master/tss/output/*

*.pyc





